
.designHome{
    background-image: linear-gradient( rgb(0 0 0 / 49%), rgb(0 0 0 / 94%) ), url(../../images/fondo1.png);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: cover;
}