
.loader {
    background-color: #262626;
    height: 30em;
}

.displayPeliculas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #262626;
    padding: 2em 1em 4em 1em;
}

.peli {
    border-radius : 0.2em;
    /* border: 0.1em solid rgb(6, 22, 21); */
    margin: 0.4em;
}

.cartel {
    height: 15em;
}

.inicio{
    background-color: #262626;
}

