
.desingBoton {
    height: 1.5em;
    width: 4em;

    margin: 1em;

    background-color: #a7a7a7;
    border-radius: 0.2em;
    transition: 0.4em;  
}

.desingBoton:hover{
    background-color: #d0d0d0;

}