
.desingBoton {
    height: 1.5em;
    width: 4em;

    margin: 1em;

    background-color: red;
    border-radius: 0.2em;
    transition: 0.4em;  
}

.desingBoton:hover{
    background-color: rgb(236, 81, 81);

}