
.designLogin{
    display: flex;
    flex-direction: column;
    background-color: rgb(138, 26, 45);
    justify-content: center;
    align-items: center;
    height: 30.3em;
}

.sendButton{
    height: 2em;
    width: 6em;
    cursor: pointer;

    background-color: rgb(14, 16, 133);
    color: white;

    border-radius: 0.2em;
}
.sendButton:hover {
    transition: 0.4s;
    background-color: rgb(71, 105, 179);
}